<ion-header>
    <ion-navbar color='booktrap'>
        <ion-buttons left>
            <!-- <button ion-button icon-only (click)="takeMeBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button> -->
        </ion-buttons>
        <ion-title>
            Añade un libro
        </ion-title>
    </ion-navbar>
    <ion-row>
        <button ion-button class="top" color='booktrap'>

            <label for="file-input">
                <ion-icon name="images"></ion-icon>

            </label>


        </button>
        <input id="file-input" hidden='true' name="picUpload" [(ngModel)]="picUpload" accept="image/*" type="file" (change)="changeListener($event)"
        />
        <!--
        <button ion-button class="top" color='booktrap'> (click)="choosePicture();"
            <ion-icon name="images"></ion-icon>

            INPUT TRY 

            <input name="picUpload" [(ngModel)]="picUpload" accept="image/*" type="file" (change)="changeListener($event)">




        </button>-->
        <button ion-button class="top" color='booktrap' (click)="takePhoto();">
            <ion-icon name="camera"></ion-icon>
        </button>
    </ion-row>
</ion-header>

<ion-content padding>
    <ion-item no-lines class="item-row">
        <div item-content class="border-imagen" *ngFor="let photo of photos; let id = index">
            <img class="imagen" (click)="deletePhotos(id)" [src]="photo" />
        </div>
        <div item-content class="border-icono" *ngFor="let icon of icons;">
            <ion-icon class="icono" name="camera"></ion-icon>
        </div>
    </ion-item>

    <form no-padding (ngSubmit)="uploadBook()" class="input">

        <!-- TÍTULO -->
        <ion-item>
            <ion-label color="booktrap" floating>Título</ion-label>
            <ion-input placeholder="" name="title" [(ngModel)]="book.title"></ion-input>
        </ion-item>

        <!-- AUTOR -->
        <ion-item>
            <ion-label color="booktrap" floating>Autor</ion-label>
            <ion-input placeholder="" name="author" [(ngModel)]="book.author"></ion-input>
        </ion-item>

        <!-- EDITORIAL -->
        <ion-item>
            <ion-label color='booktrap' floating>Editorial</ion-label>
            <ion-input placeholder="" name="editorial" [(ngModel)]="book.editorial"></ion-input>
        </ion-item>

        <!-- COMENTARIO -->
        <ion-item>
            <ion-label color='booktrap' floating>Comentario</ion-label>
            <ion-input placeholder="" name="comment" [(ngModel)]="book.comment"></ion-input>
        </ion-item>

        <!-- <ion-item>
        <ion-label color="primary" floating>Campo 2</ion-label>
        <ion-input placeholder=""></ion-input>
    </ion-item> -->
        <ion-item>
            <ion-row>
                <button ion-button block color='booktrap' type="submit">Subir libro</button>
            </ion-row>
        </ion-item>

    </form>
</ion-content>