<ion-header>
  <ion-navbar color="booktrap" hideBackButton="true">
    <ion-title>
      {{ user.firstname }}
    </ion-title>

    <ion-buttons left [hidden]='external'>
      <button ion-button color="light" icon-only clear (click)="showExchanges($event)">
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons left [hidden]='!external'>
      <button ion-button color="light" icon-only clear (click)="takeMeBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right [hidden]='external'>
      <button ion-button color="light" icon-only clear (click)="showMoreOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div item-content class="row">
    <div item-content id="avatar-image">
      <ion-avatar color="booktrap">
        <img *ngIf="user.profilePic" src="{{ user.profilePic }}" (error)="imgError($event)" imageViewer>
      </ion-avatar>
    </div>
    <div item-content id="info">
      <ion-label>{{ user.nExchanges }} Intercambios</ion-label>
      <ion-label *ngIf="user.city">
        <ion-icon name="pin" color="booktrap"></ion-icon>&nbsp;{{ user.city }}
      </ion-label>
      <ion-label [hidden]='external'>
          <ion-icon name="call" color="booktrap"></ion-icon>&nbsp;{{ user.phone }}
        </ion-label>
    </div>
  </div>
  <div item-content class="row">
    <button ion-button full [hidden]='external' color="booktrap" (click)="EditProfile()">Editar Perfil</button>
  </div>
  <div item-content class="row">
    <ion-segment [(ngModel)]="books" color="booktrap">
      <ion-segment-button outline selected value="Publications">
        Publicados
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="books">

    <ion-grid *ngSwitchCase="'Publications'" no-padding>

      <ion-row no-padding>

        <ion-refresher *ngIf="external==false" (ionRefresh)="doRefresh($event);">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <ion-col col-4 no-padding *ngFor="let publication of user.publications">
          <ion-card no-padding (click)="selectPhotos(publication)">
            <img class="imagen" [src]='publication.img'>
            <ion-card-content *ngIf="publication.title.length > 10" no-padding>
                {{ publication.title | slice:0:7 }}...
            </ion-card-content>
            <ion-card-content *ngIf="publication.title.length <= 10" no-padding>
              {{publication.title}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>